.git/
build/
install/
log/
**/build/
**/install/
**/log/
.venv/
notebooks_venv/
xfeat_lightglue/
third_party/build/
third_party/install/
third_party/ROPTLIB/
third_party/accelerated_features/
third_party/gtsam/
**/.git/
**/__pycache__/
*.pyc
container_log.log
.vscode/browse.vc*.db*
.vscode/*.db*
