<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

    <link name="can_link">
        <visual>
            <origin rpy="${pi/2.0} 0 0" xyz="-0.033 0.033 0"/>
            <geometry>
                <mesh filename="package://bot_description/meshes/can.STL" />
            </geometry>
        </visual>
    </link>

    <joint name="base_can_joint" type="fixed">
        <parent link="base_link" />
        <child link="can_link" />
        <origin rpy="0 0 0" xyz="0 0 0.078"/>
    </joint>

</robot>
